/*
Created by Isaac Richards
11OCT26
Common styling for BulkProxyForge. 
*/

* {
    /*Make sizing include padding and borders.*/
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
    background-color: orangered;
    border-radius: 16px;
}

body {
    background-color: #1C252B;
    color: white;
}

a {
    color: white;
}

/* visited is intentionally not different because I use a for flow between pages as part of a process, not wiki-style navigation. */
a:link, a:visited {
    color: white;
}

a:hover {
    color: orangered;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: orangered;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: orangered;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.col {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.row {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
}

/* Not used anymore, but might use it later. 
.text_button {
    padding: 1% 2% 3%;
    height: 100%;
    aspect-ratio: 1/1;
    line-height: 1;
    text-box: trim-both cap alphabetic;
} */

.img_button {
    padding: 2px 2px;
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;/*X justify*/
    align-items: center;/*Y justify*/
}

.add_deck_step {
    /* border: 1px solid white; */
    height: 100%;
    flex: 1;/*Each child takes up 1 unit of space.*/
    display: flex;
    justify-content: center;/*X justify*/
    align-items: center;/*Y justify*/
}

#continue_button {
    border: 1px solid white;
    padding: 2% 4%;
    height: 100%;
    width: 100%;
    align-content: center;/*Y justify*/
    text-align: center;
    border-radius: 0.2rem;
    text-decoration: none;
    line-height: 1;
    text-box: trim-both cap alphabetic;
    text-fit: grow;
}